<h2>管理者ログイン</h2>

<%= form_with scope: :admin_user, url: admin_user_session_path, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :email, "メールアドレス", class: "form-label" %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "パスワード", class: "form-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="form-check mb-3">
    <%= f.check_box :remember_me, class: "form-check-input" %>
    <%= f.label :remember_me, "ログイン状態を保持", class: "form-check-label" %>
  </div>

  <%= f.submit "ログイン", class: "btn btn-primary" %>
<% end %>
